/RUNNING_PID
/logs/
/project/project/
/project/target/
/target/
.DS_Store
.idea
.idea_modules
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
*.zip
*.class
.history
